%button-shared {
  border-radius: 10px;
  padding: 5px 15px;
  margin: 15px 15px 0 0;
}

@mixin buttons {
  display: flex;
  flex-wrap: wrap;

  a {
    color: white;
  }

  .button-add {
    @extend %button-shared;
    background: #34bf5b;
  }

  .button-edit {
    @extend %button-shared;
    background: #34bfb7;
  }

  .button-delete {
    @extend %button-shared;
    background: #F86666;
  }
}
