.container {
  min-height: 600px;
  max-width: 600px;

  // Временно
  margin: 100px;
}

@import '../../shared/styles/forms';
@import "../../shared/styles/buttons";


input[type=text], input[type=number], select {
  @include input-form;
  display: block;

  &:focus {
    outline: none;
    background: #eaeaea;
  }
  &:focus + .toggle-visible {
    visibility: visible;
  }
}

label {
  display: block;
  margin-top: 10px;
}

.button-container {
  @include button-style;
  @include button-hover;
  @include button-focus;
}

.input-invalid {
  border: none;
  border-bottom: 2px solid #e58686;
}

.input-valid {
  border: none;
  border-bottom: 2px solid #96f893;
}

.toggle-visible {
  visibility: hidden;
}

.prompt {
  font-size: 16px;
}

.ng-select-material {
  @import "../node_modules/@ng-select/ng-select/themes/material.theme.css";
  max-width: 300px;
}
