<div class="container">
  <h1>Форма игрока</h1>
  <form [formGroup]="formPlayer">
    <label>Имя</label>
    <input [ngClass]="formValidator('name')" type="text" formControlName="name">
    <div *ngIf="formValidator('name') === 'input-invalid'">Введите не менее 5 символов</div>

    <label>Номер</label>
    <input [ngClass]="formValidator('number')" type="number" formControlName="number">

    <label>На бите/бросковая рука</label>
    <input [ngClass]="formValidator('batAndThrow')" type="text" formControlName="batAndThrow">

    <label>Позиция</label>
    <input [ngClass]="formValidator('position')" type="text" formControlName="position">
  </form>

  <div class="button-container">
    <button [ngClass]="formPlayer?.valid ? 'button-add' : 'button-disabled'">Сохранить</button>
    <button class="button-light" (click)="closeForm()">Закрыть</button>
  </div>
  </div>
