.container {
  max-height: 600px;
  max-width: 600px;

  // Временно
  margin: 100px;
}

@import '../../shared/styles/forms';
@import "../../shared/styles/buttons";


input {
  @include input-form;
  display: block;

  &:focus {
    outline: none;
    background: #eaeaea;
  }
  &:focus + .toggle-visible {
    visibility: visible;
  }
}

.button-container {
  @include button-style;
  @include button-hover;
  @include button-focus;
}

.input-invalid {
  border: none;
  border-bottom: 2px solid #e58686;
}

.input-valid {
  border: none;
  border-bottom: 2px solid #96f893;
}

//input:focus {
//  outline: none;
//  background: #eaeaea;
//}

label {
  display: inline-block;
  margin-top: 10px;
}

.toggle-visible {
  visibility: hidden;
}
