<div class="container">
  <button (click)="closeModalDialog()">Close</button>

  <label>Имя игрока
    <input type="text">
  </label>
  <label>Игровой номер
    <input type="text">
  </label>
  <label>На бите/Бросковая рука
    <input type="text">
  </label>
  <label>Позиция
    <input type="text">
  </label>
  <label>

  </label>
  <div class="button-container">
    <button class="button-add">Сохранить</button>
    <button class="button-light" (click)="closeModalDialog()">Закрыть</button>
  </div>

</div>


