<!--Лист игроков-->
  <div class="container">
    <div class="buttons-container">
<!--      <button class="button-add" (click)="showModalDialog()"><a href="#">Добавить</a></button>-->
      <button class="button-add" (click)="showModalDialog()">Добавить</button>
      <button class="button-disabled">Редактировать</button>
      <button class="button-delete">Удалить</button>
    </div>

    <modal-dialog *ngIf="isModalDialogVisible" (isConfirmed)="closeModalDialog()"></modal-dialog>

    <table>
      <thead>
      <tr>
        <th>Players</th>
        <th>Number</th>
        <th>B/T</th>
        <th>Position</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="#">Гимальдинов Денис</a></td>
        <td>4</td>
        <td>R/R</td>
        <td>SS/1B/C</td>
      </tr>
      <tr>
        <td><a href="#">Гимальдинов Денис</a></td>
        <td>4</td>
        <td>R/R</td>
        <td>SS/1B/C</td>
      </tr>
      </tbody>
    </table>
  </div>




