<!--Лист игроков-->
  <div class="container">
    <div class="buttons-container">
      <button class="button-add" (click)="showModalDialog()">Добавить</button>
      <button class="button-disabled">Редактировать</button>
      <button class="button-delete">Удалить</button>
    </div>

    <modal-dialog *ngIf="isModalDialogVisible" (isConfirmed)="closeModalDialog()"></modal-dialog>

    <table>
      <thead>
      <tr>
        <th>Players</th>
        <th>Number</th>
        <th>B/T</th>
        <th>Position</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players">
        <td><a href="#">{{player.name}}</a></td>
        <td>{{player.number}}</td>
        <td>{{player.batAndThrow}}</td>
        <td>{{player.position}}</td>
      </tr>
      </tbody>
    </table>
  </div>




