<!--Лист игроков-->
  <div class="container">
    <div class="buttons-container">
      <button [ngClass]="isSelectPlayer ? 'button-disabled' : 'button-style button-add'" (click)="addPlayer()">Добавить</button>
      <button [ngClass]="isSelectPlayer ? 'button-edit' : 'button-disabled'">Редактировать</button>
      <button [ngClass]="isSelectPlayer ? 'button-delete' : 'button-disabled'" (click)="deletePlayer()">Удалить</button>
    </div>

<!--    Форма для добавления/редактирования игроков-->
<!--    <form-player *ngIf="true" (isCloseForm)="closeModalDialog()" [selectPlayer]="this.selectPlayer"></form-player>-->
    <form-player *ngIf="isModalDialogVisible" (isCloseForm)="closeFormPlayer()" [(selectPlayer)]="this.selectPlayer"></form-player>

    <table>
      <thead>
      <tr>
        <th>Players</th>
        <th>Number</th>
        <th>B/T</th>
        <th>Position</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players" (click)="onSelectPlayer(player); isSelectPlayer = true">
        <td><a href="#">{{player.name}}</a></td>
        <td>{{player.number}}</td>
        <td>{{player.batAndThrow}}</td>
        <td>{{player.position}}</td>
      </tr>
      </tbody>
    </table>
  </div>




