<header>
  <div class="nav-dex">
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="/players">Игроки</a></li>
      <li><a href="#">Статистика</a>
        <ul>
          <li><a href="/stats-edit">Редактор статистик</a></li>
          <li><a href="/stats/2023">Статистика за 2023 год</a></li>
          <li><a href="/stats/2022">Статистика за 2022 год</a></li>
          <li><a href="/stats/2021">Статистика за 2021 год</a></li>
          <li><a href="/stats/2020">Статистика за 2020 год</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="nav-dex">
    <li><a href="#">Вход</a></li>
  </ul>
</header>
