@font-face {
  font-family: Jura;
  src: url(assets/fonts/Jura.ttf) format("opentype");
}

*{
  text-decoration: none;
  list-style: none;
  border-style: none;
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

